[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Qucs Project official mirror
[access "refs/*"]
	owner = group user/Bharathwaj Muthuswamy (mbharat23)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Bharathwaj Muthuswamy (mbharat23)
	label-Verified = -1..+1 group user/Bharathwaj Muthuswamy (mbharat23)
	push = group user/Bharathwaj Muthuswamy (mbharat23)
	read = group user/Bharathwaj Muthuswamy (mbharat23)
	rebase = group user/Bharathwaj Muthuswamy (mbharat23)
	removeReviewer = group user/Bharathwaj Muthuswamy (mbharat23)
	submit = group user/Bharathwaj Muthuswamy (mbharat23)
[access "refs/heads/*"]
	create = group user/Bharathwaj Muthuswamy (mbharat23)
	push = +force group user/Bharathwaj Muthuswamy (mbharat23)
	pushMerge = group user/Bharathwaj Muthuswamy (mbharat23)
	read = group user/Bharathwaj Muthuswamy (mbharat23)
[access "refs/tags/*"]
	push = group user/Bharathwaj Muthuswamy (mbharat23)
	push = +force group user/Bharathwaj Muthuswamy (mbharat23)
